<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <title><%= subject %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f2f5;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 50px;
    }
    .vehicle-container {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
    .vehicle-container:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    h5 {
      font-weight: 700;
      margin-bottom: 15px;
      color: #333;
    }
    p {
      margin-bottom: 10px;
      color: #555;
    }
    .btn-refresh {
      display: block;
      margin: 0 auto;
      background-color: #007bff;
      border: none;
      padding: 10px 20px;
      color: #fff;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    .btn-refresh:hover {
      background-color: #0056b3;
    }
    .text-center {
      text-align: center;
    }
    canvas {
      max-width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2 class="text-center mb-5">Batterymonitor Dashboard</h2>
    <div class="row">
      <% for(var i=0; i < vehicles.length; i++) { %>
        <div class="col-md-6">
          <div class="vehicle-container">
            <h5>Fahrzeug: <%= vehicles[i].name %></h5>
            <p>Letzte erfasste Spannung: <%= vehicles[i].voltages[vehicles[i].voltages.length - 1] %>V</p>
            <p>Letzte Messung: <%= vehicles[i].timestamps[vehicles[i].timestamps.length - 1] %></p>
            <canvas id="chart-<%=i%>"></canvas>
          </div>
        </div>
      <% } %>
    </div>
    <button class="btn-refresh" onclick="location.reload();">Aktualisieren</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      <% for(var i=0; i < vehicles.length; i++) { %>
          var canvas<%= i %> = document.getElementById('chart-<%= i %>');
          var data<%= i %> = {
            labels: <%- JSON.stringify(vehicles[i].timestamps); %>,
            datasets: [
              {
                label: "<%- vehicles[i].name %>",
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: <%- JSON.stringify(vehicles[i].voltages); %>,
                fill: false,
                stepped: true,
              }
            ]
          };

          var myChart<%= i %> = new Chart(canvas<%= i %>, {
            type: 'line',
            data: data<%= i %>,
            options: {
              
            }
          });
      <% } %>
  });
</script>
</body>
</html>
